analyze/load_sources.sh
*venv
__pycache__
analyze/patterns/*
!analyze/patterns/.gitkeep
analyze/yara/*
!analyze/yara/.gitkeep
analyze/report/report.html
collect/memory/lime*
dist
build
collect.spec
ansible_collect/fetched_collections/*.tar.gz
