modules:
  pattern:
    # Pattern txt files are here. One pattern per line
    # Can contain sub directories
    patterns_dir: ./patterns
  yara:
    # Yara yar files are here
    # Can contain sub directories
    rules_dir: ./yara
  collect:
    # Store results here
    outdir: /tmp/out
    # Command outputs
    commands:
      - ps auxwwwef
      - aa-status
      - systemctl list-units --type=service --all
      - systemctl list-timers --all
      - systemctl status                 # general system status
      - aa-status                        # AppArmor status (if installed)
      - service --status-all             # SysV service status (if available)
      # Users and login history
      - who
      - w
      - last
      - lastb
      - id
      - groups
      - getent passwd
      - getent shadow                     # requires root
      - getent group
      - crontab -l                        # current user
      - sudo crontab -l -u root           # root crontab
      # Network and connections
      - netstat -tulnp
      - ss -tulnp
      - ip addr show
      - ip route show
      - iptables-save
      - ufw status verbose
      - cat /etc/hosts
      - cat /etc/resolv.conf
      # Package / installed software
      - dpkg -l                           # Debian/Ubuntu
      - rpm -qa                           # RHEL/CentOS
      - apt-cache policy                   # Debian package policy
      - yum list installed                 # RHEL package list
      - flatpak list                       # if flatpak is used
      - snap list                          # if snap is used
      # Disk and filesystem
      - df -h
      - mount
      - lsblk -f
      - findmnt
      # Kernel and system info
      - uname -a
      - cat /proc/version
      - dmesg
      - lsmod
      - sysctl -a
      # Network routes / ARP / firewall
      - ip neigh
      - arp -n
      # Docker / containers
      - docker ps -a                       # containers
      - docker images                      # images
      - docker info
      - kubectl get pods --all-namespaces
    # Files and directories to collect
    files_and_dirs:
      # System Information
      - /etc/os-release
      - /proc/version
      - /proc/cmdline
      - /proc/modules
      - /etc/systemd/system
      - /lib/systemd/system
      - /etc/crontab
      - /etc/cron.d
      - /etc/cron.daily
      - /etc/cron.hourly
      - /etc/cron.weekly
      - /etc/cron.monthly
      - /var/log
      # Users and Accounts
      - /etc/passwd
      - /etc/shadow
      - /etc/group
      - /etc/sudoers
      - /etc/sudoers.d
      - /var/log/wtmp
      - /var/log/btmp
      - /var/log/lastlog
      - /var/spool/cron/crontabs
      # Network and Config
      - /etc/hosts
      - /etc/resolv.conf
      - /etc/network/interfaces
      - /etc/sysconfig/network-scripts
      - /etc/ssh
      - /etc/sshd
      - /root/.ssh
      - /home/*/.ssh
      # Shell history
      - /root/.bash_history
      - /root/.zsh_history
      - /home/*/.bash_history
      - /home/*/.zsh_history
      # Packages
      - /var/lib/dpkg/status
      - /var/lib/rpm
      - /etc/apt
      - /etc/yum.repos.d
      # Docker/Kubernetes (if present)
      #- /var/lib/docker
      #- /etc/kubernetes
      #- /var/lib/kubelet
      # Key binaries and scripts
      #- /usr/bin
      #- /usr/local/bin
      #- /bin
      #- /sbin
      #- /usr/sbin
      - /etc/init.d
      - /etc/rc.local
      # Temp files (possible malware drops)
      #- /tmp
      #- /var/tmp
    checksums:
      # Directories are always recursive
      - /etc/
